body {
  border: 0px;
  padding: 20px;
  font-size: 15px;
  background-color: #070e29;
  color: white;
  font-family: Monserrat, Verdana, sans-serif;
  min-width: 400px;
}

@font-face {
  font-family: Monserrat;
  src: url("./assets/Montserrat-Light.otf");
}

.header {
  background: #070e29;
  position: sticky;
  top: 0;
  z-index: 1;
  text-decoration: none;
}

.Titulo-resume {
  color: orange;
}

.Resume {
  width: 100%;
  height: 500px;
  box-sizing: border-box;
}

.card {
  padding-top: 50px;
  padding-left: 50px;
  background-color: #070e29;
  top: 0px;
  display: block;
  width: 50%;
  float: left;
}

.card-body {
  padding: 100px;
}

.card-title {
  color: #921e21;
  font-size: 50px;
  padding-bottom: 40px;
  text-shadow: 3px 3px 3px #921e21;
}

.titulo {
  color: orange;
  font-size: 50px;
  text-shadow: 3px 3px 3px orange;
  display: block;
}

.card-text {
  color: white;
  font-size: 17px;
}

.fotografia {
  margin-top: 100px;
  height: 400px;
  width: 50%;
  display: block;
  float: right;
}

.foto {
  margin-left: 100px;
  height: 400px;
  display: block;
  float: left;
}

.nav-link {
  font-size: 20px;
  color: white;
  transition: 100ms all;
  padding-right: 40px;
  margin: 3px;
  border-bottom: 1px solid white;
}

.nav-item :hover {
  color: white;
  text-shadow: 8px 8px 8px white;
}

.nav-item :active {
  color: white;
  text-shadow: 8px 8px 8px white;
}

.contactos-header {
  background: orange;
  border: 1px solid orange;
  border-radius: 15px;
  color: white;
  padding: -15px;
}

.card-img-top {
  width: 50%;
  float: right;
  height: 300px;
}

.detalle {
  padding-left: 150px;
  padding-right: 100px;

  width: 100%;
  color: white;
  height: 100%;
  display: block;
  float: left;
}
.introduccion {
  line-height: 40px;
  font-size: 17px;
}

.proyectos {
  padding-top: 53px;
  width: 100%;
  clear: both;
  display: block;
}

.proyectos h1 {
  padding-left: 150px;
}

.cajaProyectos {
  width: 45%;
  height: 300px;
  background-color: #121212;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  margin: 25px;
  color: white;
  border-radius: 20px;
}

.cajaProyectos a {
  text-decoration: none;
}

.tituloProyectos {
  width: 100%;
  background-color: black;
  color: white;
  text-shadow: none;
  font-size: 30px;
  clear: both;
  text-align: center;
  margin: 0px;
  height: 15%;
}

.cajaimagen {
  width: 50%;
  height: 85%;
  display: block;
  float: left;
}

.imagenProyectos {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.descripcionProyecto {
  height: 30%;
  width: 50%;
  display: block;
  float: right;
  text-align: left;
  padding: 15px;
}

.descripcion-tecnologias {
  width: 50%;
  height: 55%;
  padding: 15px;
  top: 0;
  display: inline-block;
  word-wrap: break-word;
}

.descripcion-elementos {
  padding: 3px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  margin: 3px;
  word-spacing: 10px;
  display: inline-block;
  color: orange;
}

.descripcion-elementos:hover {
  color: black;
  background-color: white;
}

.tecnologias {
  width: 100%;
  height: 350px;
  padding-left: 150px;
  display: block;
  color: orange;
  text-shadow: 3px 3px 3px orange;
  padding-right: 100px;
  padding-top: 80px;
}

/*AÑADIENDO ANIMACIONES*/

.wrapper {
  width: 100%;
  height: 229px;
  display: block;
  margin-inline: auto;
  position: relative;
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.Iconos {
  height: 120px;
  padding-top: 20px;
  padding-left: 30px;
  position: absolute;
  left: 1000px;

  animation: scrollleft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes scrollleft {
  to {
    left: -90px;
  }
}

.Icono1 {
  animation-delay: -3s;
}
.Icono2 {
  animation-delay: -6s;
}
.Icono3 {
  animation-delay: -9s;
}
.Icono4 {
  animation-delay: -12s;
}
.Icono5 {
  animation-delay: -15s;
}
.Icono6 {
  animation-delay: -18s;
}
.Icono7 {
  animation-delay: -21s;
}
.Icono8 {
  animation-delay: -24s;
}
.Icono9 {
  animation-delay: -27s;
}
.Icono10 {
  animation-delay: -30s;
}

/*TERMINANDO ANIMACIONES*/

.comentarios {
  width: 100%;
  height: 500px;
  padding: 1px 20%;
  display: block;
  float: left;
  color: black;
  clear: both;
}

.comentarios label {
  color: orange;
  padding: 10px;
}

.formulario {
  height: 30px;
  width: 40%;
}

.textarea {
  text-align: left;
  width: 100%;
  height: 150px;
  color: black;
  border: solid 1px orange;
  resize: none;
}

.contactame {
  text-align: center;
  height: 80px;
}

.btn {
  height: 40px;
  width: 100%;
  margin: 10px 0%;
  border: solid 1px orange;
  color: black;
  font-size: 17px;
}

.btn:hover {
  background-color: rgb(241, 164, 20);
  color: white;
}

.Footers {
  width: 100%;
  height: 60px;
  display: inline-block;
  text-align: center;
  clear: both;
}

.card-img {
  height: 50px;
  background-color: white;
  margin: 8px;
  border-radius: 10px;
  width: 5%;
}

@media (max-width: 1160px) {
  .card,
  .card-body,
  .card-title,
  .card-text,
  .detalle,
  .proyectos,
  .tecnologias {
    padding-left: 0px;
    padding-right: 0%;
  }
  .card-img {
    height: 60px;
    width: 10%;
  }
  .cajaProyectos {
    margin: 20px;
  }
}
@media (max-width: 968px) {
  .card,
  .card-body,
  .card-text,
  .card-title {
    padding-left: 0px;
    text-align: center;
  }
  .card-img {
    height: 50px;
    width: 10%;
  }
  .cajaProyectos {
    margin: 15px;
  }
}

@media (max-width: 659px) {
  body {
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
  }

  .titulo {
    width: 100%;
  }
  .header {
    display: block;
    text-align: center;
    background-color: orange;
  }
  .Resume {
    padding-top: 170px;
  }
  .nav-link {
    color: black;
  }

  .nav-item :hover {
    color: white;
  }

  .card,
  .card-body,
  .card-text,
  .card-title {
    padding: 10px;
    width: 100%;
    text-align: center;
    clear: none;
  }
  .fotografia,
  .foto {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 40px;

    width: 75%;
    text-align: center;
    clear: none;
  }
  .cajaProyectos {
    margin: 15px;
    width: 90%;
  }

  .detalle {
    width: 100%;
    text-align: center;
    padding: 0px;
  }

  .proyectos {
    padding-top: 200px;
    text-align: center;
  }

  .proyectos h1 {
    padding-left: 0px;
  }
  .tecnologias {
    height: 350px;
    text-align: center;
    padding: 0px;
    padding-top: 150px;
    margin-top: 80px;
  }
  .formulario {
    width: 100%;
    height: 40px;
  }
  .Iconos {
    animation-duration: 20s;
  }
  .Icono1 {
    animation-delay: -2s;
  }
  .Icono2 {
    animation-delay: -4s;
  }
  .Icono3 {
    animation-delay: -6s;
  }
  .Icono4 {
    animation-delay: -8s;
  }
  .Icono5 {
    animation-delay: -10s;
  }
  .Icono6 {
    animation-delay: -12s;
  }
  .Icono7 {
    animation-delay: -14s;
  }
  .Icono8 {
    animation-delay: -16s;
  }
  .Icono9 {
    animation-delay: -18s;
  }
  .Icono10 {
    animation-delay: -20s;
  }
}
