body {
  border: 0px;
  font-size: clamp(10px, 4vw, 17px);
  background-color: #070e29;
  color: white;
  font-family: Poppins, sans-serif;
  min-width: 400px;
}

.header {
  display: block;
  position: fixed;
  height: 100vh;
  width: 10vw;
  text-align: center;
  margin: 0px;
}

.headerIcon {
  margin-bottom: 5px;
  height: 80px;
  width: 80px;
  display: block;
  fill: white;
  border-radius: 9999px;
  box-shadow: 1px 1px 10px 1px white;
}

.Options {
  display: block;
  list-style: none;
  height: 11vw;
  font-weight: bold;
}

.Option {
  padding: 0.5vw;
  color: #070e29;
  float: left;
  text-decoration: none;
}

.textOption {
  display: block;
}

.Option:hover {
  color: #008080;
  fill: #008080;
}

.headerIcon:active {
  translate: 5px;
  box-shadow: none;
}

.Titulo-resume {
  color: #008080;
}

.Resume {
  width: 80%;
  margin: 50px;
  margin-left: 200px;
  height: 85vh;
  position: relative;
  border-radius: 40px;
  box-shadow: 1px 1px 10px 1px white;
}

.Resume:hover {
  background-color: #070e29;
}

.card {
  margin-top: 10vh;
  background: transparent;
  position: absolute;
  display: block;
  width: 55%;
  border: none;
  float: left;
}

.card-body {
  height: 600px;
  padding: 10vh;
}

.card-title {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  padding-bottom: 40px;
}

.titulo {
  color: #008080;
  font-size: 50px;
  font-weight: bold;
  display: block;
}

.card-text {
  color: white;
  font-size: 19px;
}

.fotografia {
  margin-top: 10vh;
  width: 50%;
  display: block;
  float: right;
}

.foto {
  border-radius: 50%;
  border: 5px #008080 solid;
  display: block;
  float: left;
  max-width: 85%;
  height: auto;
}

.Footers {
  height: 200px;
  width: 50%;
  display: block;
  float: right;
  top: 30vw;
  position: absolute;
}

.imageLink {
  float: right;
  width: 100px;
  color: transparent;
  display: block;
  text-align: center;
}
.imageLink2 {
  display: block;
  text-align: center;
  float: right;
  margin-top: 12vh;
  width: 100px;
  color: transparent;
}

.imageLink:hover,
.imageLink2:hover {
  scale: 1.1;
  color: white;
  font-weight: bold;
}

.card-img {
  height: 8vh;
  display: block;
  float: left;
  max-width: 70px;
  background-color: white;
  padding: 10px;
  border-radius: 1000px;
}

.card-img-top {
  width: 50%;
  float: right;
  height: 300px;
}

.detalle {
  margin: 50px;
  margin-left: 200px;
  padding: 50px;
  width: 80%;
  color: white;
  height: 100%;
  display: block;
  float: left;
  border-radius: 40px;
  box-shadow: 1px 1px 10px 1px white;
}
.introduccion {
  line-height: 40px;
  font-size: 19px;
}

.proyectos {
  padding-top: 53px;
  margin-left: 200px;
  padding-bottom: 100px;
  width: 80%;
  display: block;
  float: left;
  border-radius: 40px;
  box-shadow: 1px 1px 20px 2px white;
}

.proyectos h1 {
  margin-left: 4vw;
}
.listaProyectos {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.cajaProyectos {
  height: 300px;
  background-color: #121212;
  margin: 10px;
  color: white;
  border-radius: 20px;
}

.cajaProyectos a {
  text-decoration: none;
}

.tituloProyectos {
  background-color: black;
  color: white;
  text-shadow: none;
  font-size: 30px;
  clear: both;
  text-align: center;
  margin: 0px;
  border-radius: 20px 20px 0 0;
  transition: all 0.5s ease-in-out;
}

.tituloProyectos:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.cajaimagen {
  width: 50%;
  height: 85%;
  display: block;
  float: left;
}

.imagenProyectos {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.descripcionProyecto {
  height: 30%;
  width: 50%;
  display: block;
  float: right;
  text-align: left;
  padding: 15px;
}

.descripcion-tecnologias {
  width: 50%;
  height: 55%;
  padding: 15px;
  align-content: center;
  top: 0;
  display: inline-block;
  word-wrap: break-word;
}

.descripcion-elementos {
  padding: 3px;
  font-size: 14px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  margin: 3px;
  word-spacing: 10px;
  display: inline-block;
  color: #008080;
}

.descripcion-elementos:hover {
  color: black;
  scale: 1.2;
  background-color: #008080;
}

.tecnologias {
  width: 80%;
  height: 350px;
  margin: 50px;
  margin-left: 200px;
  padding: 50px;
  display: block;
  float: left;
  color: #008080;
  font-weight: bold;
  border-radius: 40px;
  box-shadow: 1px 1px 10px 1px white;
}

/*AÑADIENDO ANIMACIONES*/

.wrapper {
  width: 100%;
  height: 229px;
  display: block;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.Iconos {
  margin-top: 30px;
  height: 120px;
  padding: 4px;
  position: absolute;
  left: 1000px;
  border-radius: 20px;

  animation: scrollleft;
  animation-duration: 33s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Icono {
  height: 90px;
}
.Iconos:hover {
  scale: 1.1;
  translate: 1.4px;
  background-color: white;
  font-weight: bold;
}

.Iconos:active {
  translate: 5px;
}

.nombreIcono {
  font-size: 15px;
  color: #008080;
  text-align: center;
  font-weight: bold;
}

@keyframes scrollleft {
  to {
    left: -90px;
  }
}

.Icono1 {
  animation-delay: -3s;
}
.Icono2 {
  animation-delay: -6s;
}
.Icono3 {
  animation-delay: -9s;
}
.Icono4 {
  animation-delay: -12s;
}
.Icono5 {
  animation-delay: -15s;
}
.Icono6 {
  animation-delay: -18s;
}
.Icono7 {
  animation-delay: -21s;
}
.Icono8 {
  animation-delay: -24s;
}
.Icono9 {
  animation-delay: -27s;
}
.Icono10 {
  animation-delay: -30s;
}
.Icono11 {
  animation-delay: -33s;
}
/*TERMINANDO ANIMACIONES*/

.comentarios {
  width: 80%;
  height: 600px;
  margin-left: 200px;
  padding: 40px;
  display: block;
  color: black;
  clear: both;
  border-radius: 40px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 10px 1px white;
}

.commentsField {
  position: relative;
  display: block;
  height: 70px;
  margin-bottom: 10px;
}

.formulario {
  width: 70vw;
  line-height: 40px;
  position: absolute;
  background-color: transparent;
  border-radius: 20px;
  font-weight: bold;
  color: #008080;
  padding: 0 30px;
  padding-left: 10px;
  z-index: 9999;
  outline: none;
}

.commentsLabel {
  color: white;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #070e29;
  margin: 0 20px;
  border-radius: 20px;
  transition: 0.2s ease;
  margin-top: 10px;
}

.commentsTextArea {
  height: 200px;
  border-radius: 20px;
}

.textarea {
  position: absolute;
  text-align: left;
  width: 70vw;
  background-color: transparent;
  height: 150px;
  z-index: 9999;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 14px;
  padding-left: 10px;
  margin-bottom: 15px;
  resize: none;
  outline: none;
}

.formulario:focus,
.textarea:valid,
.textarea:focus,
.formulario:valid {
  color: #008080;
  box-shadow: 1px 1px 10px 1px #008080;
  border: 3px solid #008080;
}

.formulario:focus + .commentsLabel,
.formulario:valid + .commentsLabel {
  transform: translate(-20px, -30px) scale(0.9);
  z-index: 9999;
  color: #008080;
}
.textarea:valid + .commentsLabel,
.textarea:focus + .commentsLabel {
  transform: translate(-40px, -25px) scale(0.9);
  z-index: 9999;
  color: #008080;
}
.contactame {
  text-align: center;
  height: 80px;
}

.btn {
  height: 50px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #008080;
  border: solid 1px #008080;
  color: black;
  font-size: 19px;
  font-weight: bold;
}

.btn:hover {
  background-color: #008080;
  border: solid 1px white;
  color: white;
}

@media (max-width: 1160px) {
  .Resume,
  .detalle,
  .proyectos,
  .tecnologias,
  .comentarios {
    width: 95vw;
    margin: 50px 0px;
    margin-left: 2vw;
    display: block;
    float: left;
  }
  .card-body {
    padding: 6vw;
    padding-top: 2vh;
  }
  .Resume {
    margin-top: 25vw;
  }
  .Option {
    width: 12vw;
    height: 12vw;
    padding: 2.5vw;
    margin-right: 6vw;
    margin-left: 0;
    color: #008080;
  }

  .Options {
    height: auto;
  }
  .header {
    position: absolute;
    display: block;
    font-size: 2vw;
    width: 98vw;
    float: left;
    height: 13vh;
    margin-bottom: 10vw;
    padding-left: 6vw;
  }

  .fotografia {
    margin-right: 0;
    height: 600px;
  }

  .Footers {
    position: relative;
    top: auto;
    padding-left: 2vw;
    width: 40vw;
    margin-left: 4vw;
  }
  .imageLink,
  .imageLink2 {
    display: block;
    float: left;
    margin: 20px;

    text-align: left;
    color: white;
  }
  .listaProyectos {
    width: 85vw;
    grid-template-columns: 1fr;
  }
  .cajaProyectos {
    width: 70vw;
    margin: 10px 15vw;
  }

  .formulario,
  .textarea {
    width: 80vw;
  }

  .btn {
    width: 80vw;
  }
}

@media (max-width: 659px) {
  .titulo {
    font-size: 10vw;
  }

  .tituloProyectos {
    height: 10vw;
    font-size: 5vw;
  }
  .descripcion-elementos {
    font-size: 12px;
    margin: 0;
  }

  .cajaProyectos {
    width: 90vw;
    height: 100vw;
    margin: 10px 0;
  }

  .imageLink,
  .imageLink2 {
    margin-left: 4vw;
    margin-right: 5vw;
  }

  .header {
    font-size: 3vw;
  }

  .Iconos {
    animation-duration: 22s;
  }
  .Icono1 {
    animation-delay: -2s;
  }
  .Icono2 {
    animation-delay: -4s;
  }
  .Icono3 {
    animation-delay: -6s;
  }
  .Icono4 {
    animation-delay: -8s;
  }
  .Icono5 {
    animation-delay: -10s;
  }
  .Icono6 {
    animation-delay: -12s;
  }
  .Icono7 {
    animation-delay: -14s;
  }
  .Icono8 {
    animation-delay: -16s;
  }
  .Icono9 {
    animation-delay: -18s;
  }
  .Icono10 {
    animation-delay: -20s;
  }
  .Icono11 {
    animation-delay: -22s;
  }
}
