.proyectos {
  min-height: 550px;
  padding-top: 53px;
  margin-left: 200px;
  margin-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  border-radius: 40px;
  box-shadow: 1px 1px 20px 2px white;
}
.titulo {
  color: #008080;
  font-size: 50px;
  font-weight: bold;
  display: block;
  text-shadow: #008080 1px 0 10px;
}

.titleDevice {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  font-size: 40px;
  color: white;
  text-shadow: white 1px 0 10px;
}

.proyectos h1 {
  margin-left: 4vw;
}
.listaProyectos {
  display: grid;
  width: 100%;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
}
.cajaProyectos {
  height: 300px;
  color: white;
  border-radius: 20px;
  perspective: 1000px;
  margin-bottom: 40px;
}
.cards {
  height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  box-shadow: 1px 1px 10px 2px #008080;
  border-radius: 20px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.page1 {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
}
.page2 {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.cajaProyectos:hover .cards {
  transform: rotateY(180deg);
}

.liteyoutubefallback {
  display: flex;
  height: 300px;
  border-radius: 20px;
  padding: 15px;
  color: #008080;
}
.liteyoutubefallback:hover {
  box-shadow: 1px 1px 20px 2px #008080;
}

.tituloProyectos {
  background-color: black;
  color: white;
  text-shadow: none;
  font-size: 30px;
  clear: both;
  text-align: center;
  margin: 0px;
  border-radius: 20px 20px 0 0;
  transition: all 0.5s ease-in-out;
}

.cajaimagen {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
}

.imagenProyectos {
  width: 90%;
  height: 250px;
  padding: 15px;
}
.descripcionProyecto {
  height: 30%;
  width: 100%;
  display: block;
  font-size: 19px;
  float: right;
  text-align: left;
  padding: 15px;
  color: #008080;
}

.descripcionTecnologias {
  width: 100%;
  height: 55%;
  padding: 15px;
  align-content: center;
  top: 0;
  display: inline-block;
  word-wrap: break-word;
  margin: 5px;
}

.descripcionElementos {
  padding: 10px;
  font-size: 1.1vw;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  word-spacing: 10px;
  display: inline-block;
  color: #008080;
  box-shadow: 1px 1px 10px 2px #008080;
}

.descripcionElementos:hover {
  color: black;
  scale: 1.2;
  background-color: #008080;
}

@media (max-width: 1160px) {
  .proyectos {
    width: 95vw;
    margin: 50px 0;
    margin-left: 2vw;
    display: block;
    float: left;
  }

  .listaProyectos {
    width: 95vw;
    margin: 1vw;
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
  .cajaProyectos {
    width: 95vw;
    margin-bottom: 50px;
  }
}

@media (max-width: 659px) {
  .titulo {
    font-size: 10vw;
  }

  .tituloProyectos {
    height: 10vw;
    font-size: 5vw;
  }
  .descripcion-elementos {
    font-size: 12px;
    margin: 0;
  }

  .cajaProyectos {
    height: 100vw;
  }
}
