.tecnologias {
  width: 80%;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  color: #008080;
  font-weight: bold;
  border-radius: 40px;
  box-shadow: 1px 1px 20px 2px white;
  position: relative;
}

.titulo {
  color: #008080;
  text-shadow: #008080 1px 0 10px;
  font-size: 50px;
  font-weight: bold;
  display: block;
}

.wrapper {
  width: 70vw;
  margin-bottom: 20px;
  min-height: 20vh;
  display: block;
  margin-inline: auto;
  position: relative;
  align-items: center;
}
.mask {
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.modo {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #008080;
  display: flex;
  color: white;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #008080;
}
.modo:hover {
  background-color: white;
  color: black;
}
.block {
  transition: all 0.5s ease-in-out;
  display: grid;
  padding: 15px;
  border-radius: 20px;
  grid-template-columns: 1fr;
}
.block:hover {
  scale: 1.1;
  translate: 1.4px;
  background-color: #008080;
  color: white;
  font-weight: bold;
}

.agrupar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 1fr 0.2fr;
  justify-content: center;
}

.category {
  display: flex;
  color: white;
  justify-content: center;
}
/*AÑADIENDO ANIMACIONES*/

.Iconos {
  margin-top: 30px;
  height: 13vh;
  padding: 4px;
  position: absolute;
  left: 1800px;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
  animation: scrollleft;
  animation-duration: 85s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Icono {
  width: 90px;
}
.Iconos:hover {
  scale: 1.1;
  translate: 1.4px;
  box-shadow: 1px 1px 10px 1px #008080;
  background-color: #008080;
  color: white;
  font-weight: bold;
}

.nombreIcono {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

@keyframes scrollleft {
  to {
    left: -90px;
  }
}

.Icono1 {
  animation-delay: -5s;
}
.Icono2 {
  animation-delay: -10s;
}
.Icono3 {
  animation-delay: -15s;
}
.Icono4 {
  animation-delay: -20s;
}
.Icono5 {
  animation-delay: -25s;
}
.Icono6 {
  animation-delay: -30s;
}
.Icono7 {
  animation-delay: -35s;
}
.Icono8 {
  animation-delay: -40s;
}
.Icono9 {
  animation-delay: -45s;
}
.Icono10 {
  animation-delay: -50s;
}
.Icono11 {
  animation-delay: -55s;
}
.Icono12 {
  animation-delay: -60s;
}
.Icono13 {
  animation-delay: -65s;
}
.Icono14 {
  animation-delay: -70s;
}
.Icono15 {
  animation-delay: -75s;
}
.Icono16 {
  animation-delay: -80s;
}
.Icono17 {
  animation-delay: -85s;
}

@media (max-width: 1160px) {
  .tecnologias {
    width: 95vw;
    margin: 50px 0px;
    margin-left: 2vw;
    display: block;
    float: left;
  }
}

@media (max-width: 659px) {
  .Icono {
    width: 80px;
  }
  .Iconos {
    left: 1600px;
  }
  .agrupar {
    grid-template-columns: auto auto auto;
  }

  .tecnologias {
    width: 95vw;
    margin: 50px 0;
    padding: 10px;
    margin-left: 2vw;
  }
  .nombreIcono {
    font-size: 3vw;
  }
  .titulo {
    font-size: 10vw;
  }

  .Iconos {
    animation-duration: 17s;
  }

  .Icono1 {
    animation-delay: -1s;
  }
  .Icono2 {
    animation-delay: -2s;
  }
  .Icono3 {
    animation-delay: -3s;
  }
  .Icono4 {
    animation-delay: -4s;
  }
  .Icono5 {
    animation-delay: -5s;
  }
  .Icono6 {
    animation-delay: -6s;
  }
  .Icono7 {
    animation-delay: -7s;
  }
  .Icono8 {
    animation-delay: -8s;
  }
  .Icono9 {
    animation-delay: -9s;
  }
  .Icono10 {
    animation-delay: -10s;
  }
  .Icono11 {
    animation-delay: -11s;
  }
  .Icono12 {
    animation-delay: -12s;
  }
  .Icono13 {
    animation-delay: -13s;
  }
  .Icono14 {
    animation-delay: -14s;
  }
  .Icono15 {
    animation-delay: -15s;
  }
  .Icono16 {
    animation-delay: -16s;
  }

  .Icono17 {
    animation-delay: -17s;
  }
}
