.detalle {
  margin-left: 200px;
  padding: 50px;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  width: 80%;
  color: white;
  border-radius: 40px;
  box-shadow: 1px 1px 20px 2px white;
}
.introduccion {
  line-height: 40px;
  font-size: 19px;
}
.titulo {
  color: #008080;
  font-size: 50px;
  font-weight: bold;
  display: block;
  text-shadow: #008080 1px 0 10px;
}
@media (max-width: 1160px) {
  .detalle {
    width: 95vw;
    margin: 50px 0px;
    margin-left: 2vw;
    display: block;
    float: left;
  }
}
